@media (max-width: 768px) {
    .container {
        grid-template-areas: "header"
                             "mockup"
                             "info"
                             "footer";
        grid-template-columns: 1fr;
    }

    .header .logo img {
        width: 70%;
    }

    .mockup img {
        width: 80%;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info .infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .info .infos h2 {
        font-size: 2.5rem;
    }

    .info .infos p {
        text-align: center;
    }

    .info .infos .btn-register {
        padding: 10px 70px;
        font-size: 1.2rem;
    }

    .footer {
        justify-content: center;
        margin-top: 50px;
    }

}

@media (max-width: 376px) {
    body {
        background: url(../images/bg-mobile.svg) no-repeat;
        background-color: var(--violet);
    }

    .header .logo img {
        width: 50%;
    }

    .info .infos h2 {
        font-size: 2rem;
    }

    .info .infos p {
        font-size: 1.4rem;
    }
}