html {
    font-size: 62.5%; /* 2rem = 20px */;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #FFF;
    background: url(../images/bg-desktop.svg) no-repeat;
    background-color: var(--violet);
    background-size: cover;
}

.container {
    display: grid;
    grid-template-areas: "header header"
                         "mockup info"
                         "footer footer";
    grid-template-columns: 1.3fr 1fr;
    padding: 20px 40px;
    gap: 30px;
    max-width: 1440px;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mockup {
    grid-area: mockup;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    grid-area: info;
}

.info .infos {
    margin-top: 80px;
    max-width: 465px;
}

.info .infos h2 {
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.info .infos p {
    margin: 20px 0 40px;
}

.info .infos .btn-register {
    background-color: #FFF;
    color: var(--violet);
    padding: 15px 55px;
    border-radius: 50px;
    box-shadow: 3px 3px 20px #000;
    font-family: 'Poppins', sans-serif;
}

.info .infos a:hover {
    background-color: var(--soft-magenta);
    color: #FFF;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer .social a {
    display: inline-block;
    color: #FFF;
    margin: 8px;
    border: 2px solid #FFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.footer .social i {
    font-size: 2rem;   
}

.footer .social a:hover i {
    color: var(--soft-magenta);
}